input,
select,
textarea {
  outline: none;
  background-color: whitesmoke;
  border: thin solid transparent;
  border-radius: 10px;
  transition: all 0.25s;
}

input,
textarea {
  padding: 0.5rem;
}

select {
  padding: 0.5rem;
}

input:hover,
textarea:hover {
  border-color: rgb(100, 108, 255);
}

input:focus,
textarea:focus {
  background-color: transparent;
}

input:focus,
select:focus,
textarea:focus {
  border-color: rgb(100, 108, 255);
}
